spring:
  application:
    name: api
  datasource:
    url: jdbc:h2:mem:promotionsdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migrations
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized

api:
  security:
    keys:
      - ${API_KEY_1:default-dev-key-1}
      - ${API_KEY_2:default-dev-key-2}

